
<body>
    <h1>Select your seat</h1>
<div class="containerbus">
  <!-- Squared ONE -->
  <div class="autobus">

    <div class="fila">
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento1" name="check" />
          <label for="asiento1">1</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento2" name="check" />
          <label for="asiento2">2</label>
        </div>
      </div>
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento3" name="check" />
          <label for="asiento3">3</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento4" name="check" />
          <label for="asiento4">4</label>
        </div>
      </div>
    </div>

    <div class="fila">
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento5" name="check" />
          <label for="asiento5">5</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento6" name="check" />
          <label for="asiento6">6</label>
        </div>
      </div>
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento7" name="check" />
          <label for="asiento7">7</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento8" name="check" />
          <label for="asiento8">8</label>
        </div>
      </div>
    </div>

    <div class="fila">
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento50" name="check" />
          <label for="asiento50">50</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento51" name="check" />
          <label for="asiento51">51</label>
        </div>
      </div>
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento52" name="check" />
          <label for="asiento52">52</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento53" name="check" />
          <label for="asiento53">53</label>
        </div>
      </div>
    </div>

    <div class="fila">
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento54" name="check" />
          <label for="asiento54">54</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento55" name="check" />
          <label for="asiento55">55</label>
        </div>
      </div>
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento56" name="check" />
          <label for="asiento56">56</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento57" name="check" />
          <label for="asiento57">57</label>
        </div>
      </div>
    </div>

    <div class="fila">
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento58" name="check" />
          <label for="asiento58">58</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento59" name="check" />
          <label for="asiento59">59</label>
        </div>
      </div>
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento60" name="check" />
          <label for="asiento60">60</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento20" name="check" />
          <label for="asiento20">20</label>
        </div>
      </div>
    </div>

    <div class="fila">
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento21" name="check" />
          <label for="asiento21">21</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento22" name="check" />
          <label for="asiento22">22</label>
        </div>
      </div>
      <div class="seccion">
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento23" name="check" />
          <label for="asiento23">23</label>
        </div>
        <div class="asiento">
          <input type="checkbox" value="None" id="asiento24" name="check" />
          <label for="asiento24">24</label>
        </div>
      </div>
    </div>
  </div>
</div>


<div style="text-align: center;">
<button class="button1" routerLink='/Payment' role="button">Payment</button>
</div>

<!-- <footer>
  <p></p>
</footer> -->
</body>
