<!-- <app-booking-form></app-booking-form>  -->
<!-- <app-flightstatus></app-flightstatus> -->
<!-- <app-admin></app-admin> -->
<!-- <app-deleteflight></app-deleteflight> -->


<!-- <a routerLink="/booking-form">booking-form</a> -->
<body>
<div class="header">
  
</div>
  
<div class="topnav">
    <ul>
    <li><a routerLink="/booking-form">Book Flights</a></li>
    <li><a routerLink="/loginpage" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">Signup</a></li>
    <li><a routerLink="/cancellation" routerLinkActive="active">Cancellation</a></li>
    
    <li><a routerLink="/adminlogin">Admin</a></li>
    
   
    </ul>
  </div>
</body>


<router-outlet></router-outlet>











<!-- footer -->
<!-- <footer class="footer">
<div class="container">
<div class="content has-text-centered">
  <p>
     -->