<!-- <p>deleteflight works!</p> -->
<!DOCTYPE html>
<html>
  <head>
    <title>Airline Reservation</title>
  </head>
  <body>
      <div class="amkk">
        <h1 style="text-align: center;">Delete Flight</h1>
    
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><b>Delete Flight</b>-Admin can delete flight(s) from database</a><br><br>
    <form action="action_page.php">
      <div class="container">
        <div class="booking-form-box">
          <label for="text"><b>Flight &nbsp;</b></label>
          <input type="text"  id="input-group" placeholder="Enter Flight id " name="text" required> &nbsp;&nbsp;<br>

          <div class="text-center">
           <button type="submit" class="cancelbtn" value="submit">Cancel</button>
          </div>
          
        </div>
      </div>
    </form>
  </body>
  <footer class="fo">
    <div>LTI @2022 AKKM On-The-Go</div>
  
  </footer>
</html>
